<html>
  <head>
    <title>ScreenDash</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <div id="content"></div>
    <script src="assets/common.bundle.js" charset="utf-8"></script>
    <script src="assets/{{name}}.dashboard.bundle.js" charset="utf-8"></script>
  </body>
</html>
