@import '../../styles/variables';

.widget.jira_sprint_widget {
  h1 {
    color: #FFFFF0;
  }
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  i {
    margin-right: 0.3rem;
  }
}
